extends layout

block content
	if posts
		each post, i in posts
			.post
			h1
				a(href='/posts/show/#{post._id}')
					=post.title
			p.meta Posted in 
				a(href='/categories/show/#{post.category}') #{post.category} 
				| by 
				a(href='/categories/show_author/#{post.author}') #{post.author} 
				| on #{moment(post.date).format("DD-MM-YYYY")}
			.row
				.col-md-4
					img.img-thumbnail(src='/images/#{post.mainImage}')
				.col-md-8.bodyFormat
					!=truncateText(post.body, 200)+'...'
					a.more.text-center(href='/posts/show/#{post._id}') Read More